body {
background-color: black;
}

html {

    font-family: adhesive-nr-seven, serif;
    font-size: 14pt;
    color: rgb(158, 15, 44);

}

header {
    font-size: 35pt;
    font-weight: bold;
    letter-spacing: 0.1em;
}

section {
    margin: 4rem 0;
  }

h1 {
    font-size: 24pt;
    letter-spacing: 0.1em;
}

.ch{
    font-size: 24pt;
    color: rgb(23, 117, 46);
}

.o{
 font-style: italic;
}

.w{
text-decoration: underline
}

#n{
 text-transform: uppercase;
}

.c{
text-decoration: underline
}
