html {
    background-color: rgb(48, 48, 48);
}
body{
    font-family: forma-djr-text, sans-serif;
font-weight: 300;
font-style: normal;
}

nav li {
    list-style-type: none;
    text-decoration: none;
    display: inline;
    margin: 1vw 1.6vw;
   
    float: right;
}

nav{
    width: 95vw;
    
  }

  nav li a {
      color:rgb(204, 204, 204);
      font-family: all-round-gothic, sans-serif;
      font-size: 14pt;  
  }


  nav .tadao {
    color:rgb(236, 236, 236);
    margin-right: 3vw;
  }

  .oval {
      width: 103vw;
  }
  h1 {
      position: absolute;
      top: 37vw;  
      right: 18vw;
      font-size: 3vw;
      color: rgb(236, 236, 236);
      font-family: all-round-gothic, sans-serif;
  }
  .intro {
      margin-left: 25vw;
      margin-right: 25vw;
      padding-top: 1vw;
      color:rgb(204, 204, 204);
      font-size: 15pt;
      

  }